*{
    margin:0px;
    padding:2.5px;
    box-sizing:border-box;
    
 }
body{
   
    background-image:url("https://th.bing.com/th/id/OIP.iCrzrt7Tr0XsRzSXLExelAAAAA?w=264&h=180&c=7&r=0&o=5&dpr=1.5&pid=1.7");
    background-size: cover;
 }
 header {
    color: rgb(195, 198, 202);
    position: fixed;
    position: fixed;
    top:0px;
    width: 100%;
    z-index:1;
}

.register_form{
    
    width: 420px;
    background-color: white;
    padding:5% 5% 5% 3%;
    border-radius: 20px;
    align-items: center;
    box-shadow: 0px 0px 10px 10px rgb(226, 186, 234);
    position: relative;
    right: -100px;
}
.inputs{
    display: flex;
    flex-direction: column;
}
.inputs input{
    margin: 12px;
    border-style: none none solid none;
    border-color: gray;
   
    padding: 10px;
    outline: none;
}
.column2 button{
    background-color:blue;
    border-radius: 10px;
    position: relative;
    left: 148px;
}

#md-1{
    left: 290px;
   position: relative;
 }
 input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 20px;
    height: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
}
/* Make the checkboxes sticky */
input[type="checkbox"] {
    position: sticky;
    top: 60px; /* Adjust the value to control the sticky position */
    z-index: 1;
    background-color: #470ab8;
}
footer {
    background-color: #343a40;
    color: white;
    
}
