
*{
    margin:0px;
    padding:2.5px;
    box-sizing:border-box;
    
 }
body{
   
    background-image:url("https://th.bing.com/th/id/OIP.iCrzrt7Tr0XsRzSXLExelAAAAA?w=264&h=180&c=7&r=0&o=5&dpr=1.5&pid=1.7");
    background-size: cover;
 }
 header {
    color: rgb(195, 198, 202);
    position: fixed;
    position: fixed;
    top:0px;
    width: 100%;
    z-index:1;
}
 #project1_form_cont{
    border:1px #8d0f0f;
    height: 180px;
    width: 620px;
    text-align: center;
    background-color: #f4f4f4;
    color:rgb(19, 17, 17);
    justify-content: center;
    position:relative;
    box-shadow: 0px 0px 20px 2px rgb(188, 188, 228);
    left: 2px; 
    padding: 20px;
    border-radius: 10px;
    margin: 20px auto;
}
#project2_form_cont{
    border:1px #8d0f0f;
    height: 180px;
    width: 620px;
    text-align: center;
    background-color: #f4f4f4;
    color:rgb(19, 17, 17);
    justify-content: center;
    position:relative;
    box-shadow: 0px 0px 20px 2px rgb(188, 188, 228);
    left: 2px; 
    padding: 20px;
    border-radius: 10px;
    margin: 20px auto;
}
#project3_form_cont{
    border:1px #8d0f0f;
    height: 180px;
    width: 620px;
    text-align: center;
    background-color: #f4f4f4;
    color:rgb(19, 17, 17);
    justify-content: center;
    position:relative;
    box-shadow: 0px 0px 20px 2px rgb(188, 188, 228);
    left: -15px; 
    padding: 20px;
    border-radius: 10px;
    margin: 20px auto;
}
#project4_form_cont{
    border:1px #8d0f0f;
    height: 180px;
    width: 620px;
    text-align: center;
    background-color: #f4f4f4;
    color:rgb(19, 17, 17);
    justify-content: center;
    position:relative;
    box-shadow: 0px 0px 20px 2px rgb(188, 188, 228);
    left: -24px; 
    padding: 20px;
    border-radius: 10px;
    margin: 20px auto;
}
#project5_form_cont{
    border:1px #8d0f0f;
    height: 180px;
    width: 620px;
    text-align: center;
    background-color: #f4f4f4;
    color:rgb(19, 17, 17);
    justify-content: center;
    position:relative;
    box-shadow: 0px 0px 20px 2px rgb(188, 188, 228);
    left: -20px; 
    padding: 20px;
    border-radius: 10px;
    margin: 20px auto;
}
#project6_form_cont{
    border:1px #8d0f0f;
    height: 180px;
    width: 620px;
    text-align: center;
    background-color: #f4f4f4;
    color:rgb(19, 17, 17);
    justify-content: center;
    position:relative;
    box-shadow: 0px 0px 20px 2px rgb(188, 188, 228);
    left: -20px; 
    padding: 20px;
    border-radius: 10px;
    margin: 20px auto;
}
#project7_form_cont{
    border:1px #8d0f0f;
    height: 180px;
    width: 620px;
    text-align: center;
    background-color: #f4f4f4;
    color:rgb(19, 17, 17);
    justify-content: center;
    position:relative;
    box-shadow: 0px 0px 20px 2px rgb(188, 188, 228);
    left: -20px; 
    padding: 20px;
    border-radius: 10px;
    margin: 20px auto;
}
#md-1{
    left: 290px;
   position: relative;
 } 
 
 input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 20px;
    height: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
}
/* Make the checkboxes sticky */
input[type="checkbox"] {
    position: sticky;
    top: 60px; /* Adjust the value to control the sticky position */
    z-index: 1;
    background-color: #470ab8;
}
footer {
    background-color: #343a40;
    color: white;
    
}
