*{
    margin:0px;
    padding:2.5px;
    box-sizing:border-box;
    
 }
body{
   
    background-image:url("https://th.bing.com/th/id/OIP.iCrzrt7Tr0XsRzSXLExelAAAAA?w=264&h=180&c=7&r=0&o=5&dpr=1.5&pid=1.7");
    background-size: cover;
 }
 header {
    color: rgb(195, 198, 202);
    position: fixed;
    position: fixed;
    top:0px;
    width: 100%;
    z-index:1;
}
 #eduction_form_cont{
    border:1px #8d0f0f;
    height: 600px;
    width: 620px;
    text-align: center;
    background-color: #f4f4f4;
    color:rgb(19, 17, 17);
    justify-content: center;
    position:relative;
    box-shadow: 0px 0px 20px 2px rgb(188, 188, 228);
    left: px; 
    padding: 20px;
    border-radius: 10px;
    margin: 20px auto;
   
    
    }

#skills_form_cont{
    border: 1px #8d0f0f;
    width: 620px;
    background-color: #f4f4f4;
    left: 1px;
    margin-top: 40px;
    color:rgb(19, 17, 17);
    justify-content: center;
    position:relative;
    box-shadow: 0px 0px 20px 2px rgb(153, 183, 215);
    padding: 20px;
    margin: 50px auto;
    border-radius: 10px;
}
.head h2{
    left: 290px;
   position: relative;
 }
 #md-1{
    left: 290px;
   position: relative;
 }   
 .column {
    float: left;
    width: 50%;
    padding: 15px;
}
/* footer{
    padding: 0px ;
    position: absolute;
    justify-content: space-around;
    width: 1500px;
    text-align: left;
    @media (max-width: 767px) {
    /* Styles for the default footer */

/* Apply some basic styling to the form */

h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.column {
    width: 50%;
    padding: 10px;
    box-sizing: border-box;
}

input[type="checkbox"] {
    margin-right: 5px;
}

/* Style the checkboxes */
input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 20px;
    height: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
}
/* Make the checkboxes sticky */
input[type="checkbox"] {
    position: sticky;
    top: 60px; /* Adjust the value to control the sticky position */
    z-index: 1;
    background-color: #470ab8;
}
